@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: #a68d85;
  opacity: 1;
  background-image: radial-gradient(#f2e2ce 2px, transparent 2px),
    radial-gradient(#f2e2ce 2px, #a68d85 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0px;
}

.cabecalho-imagem {
  border-radius: 1%;
}

.cabecalho-menu {
  display: flex;
  gap: 30px;
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 130%;
}

.cabecalho-menu-item {
  text-decoration: none;
  color: #000000;
}

.conteudo {
  margin-bottom: 40px;
  border-top: 0.4px solid #f2e2ce;
}

.conteudo-principal {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  margin-left: 3vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conteudo-principal-img-botao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.conteudo-principal-escrito-titulo {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 150%;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 150%;
}

.conteudo-principal-escrito-botao {
  margin-left: 50px;
  background-color: #f2e2ce;
  width: 30vh;
  height: 10vh;
  border: solid rgba(255, 255, 255, 0.192);
  border-radius: 50px;
  box-shadow: 4px 5px 4px 2px rgba(0, 0, 0, 0.692);

  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 98%;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(0, 0, 0, 0.041);
  color: rgba(255, 255, 255, 0.904);
  cursor: pointer;
}

.conteudo-principal-escrito-imagem {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 6px 5px 0.3em rgba(0, 0, 0, 0.5);
}

.conteudo-secundario {
  margin: 100px auto 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #f2e2ce;
  padding-top: 35px;

  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 150%;
}

.conteudo-secundario-paragrafo {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
}

.rodape {
  border-top: 0.4px solid #f2e2ce;
  padding: 10px 0px 6px 8px;
}

.rodape-descricao {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 87%;
}

/* Menu para celulares*/

.cabecalho-menu-responsivo {
  background-color: #0000008c;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
  transition: 1s;
  overflow: hidden;
}

.cabecalho-menu-responsivo a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  font-size: 16pt;

  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 170%;
}

.cabecalho-menu-responsivo a:hover {
  background-color: #00000080;
  width: 100%;
  border-radius: 2vh;
}

/* Botão responsivo */

#botao-menu-toggle-responsivo {
  margin-right: 11px;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
}

.linha {
  width: 45px;
  height: 4px;
  background-color: #f2e2ceea;
  display: block;
  margin: 10px auto;
  transform-origin: center;
  transition: 0.2s;
}

#botao-menu-toggle-responsivo.ativo .linha:nth-child(1) {
  transform: translateY(14px) rotate(-45deg);
  background-color: rgba(255, 255, 255, 0.8);
}

#botao-menu-toggle-responsivo.ativo .linha:nth-child(3){
  transform: translateY(-14px) rotate(45deg);
  background-color: rgba(255, 255, 255, 0.8);
}

#botao-menu-toggle-responsivo.ativo .linha:nth-child(2){
  width: 0;
}

/* Tudo só será aplicado em diante, se for menor que 910px */

@media screen and (max-width: 910px) {
  /*Classes Principais*/
  .conteudo-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .conteudo-principal-img-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .conteudo-principal-escrito-imagem {
    order: 1;
  }

  .conteudo-principal-escrito-botao {
    margin-right: 50px;
    margin-top: 70px;
    order: 2;
    font-size: 120%;
  }

  .conteudo-principal-escrito {
    margin-right: 3.5vh;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 120%;
  }

  /*Cabeçalho*/
  .cabecalho-menu {
    display: none;
  }

  .cabecalho-menu-responsivo.abrir {
    visibility: visible;
    height: calc(100vh - 77px);
  }

  #botao-menu-toggle-responsivo {
    display: block;
  } 

.conteudo-secundario-titulo {
  font-size: 140%;
  }

  .cabecalho-imagem {
    width: fit-content;
    height: auto;
  }

}

/* parei no minuto 13:28 -> VIDEO MENU TOGGLE*/
/* parei no minuto 12:27 -> VIDEO MENU ANIMACAO FAZER 1°*/

/* estudar esse codigo css e o html tbm*/

/* proximo objetivo deixar isso responsivo*/
